@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Mochiy+Pop+One&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #424a45;
}

* {
  box-sizing: border-box;
}
